

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-561903815603782561.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-561903815603782561.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-561903815603782561.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-561903815603782561.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-561903815603782561.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-561903815603782561.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-561903815603782561.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-561903815603782561.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-561903815603782561.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-561903815603782561.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-561903815603782561.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-561903815603782561.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-561903815603782561.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-561903815603782561.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-561903815603782561.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-561903815603782561.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-561903815603782561.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-561903815603782561.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-561903815603782561.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-561903815603782561.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-561903815603782561.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-561903815603782561.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-561903815603782561.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-561903815603782561.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-561903815603782561.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-561903815603782561.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-561903815603782561.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-561903815603782561.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-561903815603782561.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-561903815603782561.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-561903815603782561.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-561903815603782561.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-561903815603782561.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-561903815603782561.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-561903815603782561.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-561903815603782561.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-561903815603782561.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-561903815603782561.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-561903815603782561.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-561903815603782561.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-561903815603782561.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-561903815603782561.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-561903815603782561.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-561903815603782561.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-561903815603782561.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-561903815603782561.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-561903815603782561.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-561903815603782561.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-561903815603782561.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-561903815603782561.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-561903815603782561.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-561903815603782561.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-561903815603782561.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-561903815603782561.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-561903815603782561.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-561903815603782561.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-561903815603782561.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-561903815603782561.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-561903815603782561.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-561903815603782561.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-561903815603782561.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-561903815603782561.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-561903815603782561 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-561903815603782561 .gp-relative{position:relative}.gps-561903815603782561 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-561903815603782561 .gp-mb-0{margin-bottom:0}.gps-561903815603782561 .gp-flex{display:flex}.gps-561903815603782561 .gp-grid{display:grid}.gps-561903815603782561 .gp-contents{display:contents}.gps-561903815603782561 .\!gp-hidden{display:none!important}.gps-561903815603782561 .gp-hidden{display:none}.gps-561903815603782561 .gp-h-full{height:100%}.gps-561903815603782561 .gp-w-full{width:100%}.gps-561903815603782561 .gp-max-w-full{max-width:100%}.gps-561903815603782561 .gp-flex-col{flex-direction:column}.gps-561903815603782561 .gp-gap-y-0{row-gap:0}.gps-561903815603782561 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561903815603782561 .gp-duration-200{transition-duration:.2s}.gps-561903815603782561 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-561903815603782561 .tablet\:\!gp-hidden{display:none!important}.gps-561903815603782561 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-561903815603782561 .mobile\:\!gp-hidden{display:none!important}.gps-561903815603782561 .mobile\:gp-hidden{display:none}}.gps-561903815603782561 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-561903815603782561 .\[\&_p\]\:gp-inline p{display:inline}.gps-561903815603782561 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-561903815603782561 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gZZ_pwa9WW" data-id="gZZ_pwa9WW"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-5xl);--pl:15px;--pb:var(--g-s-5xl);--pr:15px;--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:var(--g-s-4xl);--pr-mobile:15px;--pt-tablet:var(--g-s-5xl);--pl-tablet:15px;--pb-tablet:var(--g-s-5xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZZ_pwa9WW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8MQZZoCQk gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g4Kb5kYYMN" data-id="g4Kb5kYYMN"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:auto;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4Kb5kYYMN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="gum0SuznLp gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gsIte6Cq2b"
    role="presentation"
    class="gp-group/image gsIte6Cq2b"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt-mobile:var(--g-s-3xl);--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/deef01d6-d494-46f9-b522-4696db076f7f/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODU1IiBoZWlnaHQ9IjY4MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODU1LTY4MyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODU1IiBoZWlnaHQ9IjY4MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODU1IiBoZWlnaHQ9IjY4MyIgZmlsbD0idXJsKCNnLTg1NS02ODMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04NTUiIHRvPSI4NTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/deef01d6-d494-46f9-b522-4696db076f7f/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODU1IiBoZWlnaHQ9IjY4MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODU1LTY4MyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODU1IiBoZWlnaHQ9IjY4MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODU1IiBoZWlnaHQ9IjY4MyIgZmlsbD0idXJsKCNnLTg1NS02ODMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04NTUiIHRvPSI4NTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODU1IiBoZWlnaHQ9IjY4MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODU1LTY4MyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODU1IiBoZWlnaHQ9IjY4MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODU1IiBoZWlnaHQ9IjY4MyIgZmlsbD0idXJsKCNnLTg1NS02ODMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04NTUiIHRvPSI4NTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://ucarecdn.com/deef01d6-d494-46f9-b522-4696db076f7f/-/format/auto/"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="ggQmrBdSDP gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gW2U7tqwz4" data-id="gW2U7tqwz4"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:30px;--pr:30px;--pt-mobile:var(--g-s-3xl);--pl-mobile:15px;--pr-mobile:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gW2U7tqwz4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2U_l4iS4r gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g8XruY0AUZ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g8XruY0AUZ "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg8XruY0AUZ_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gDD0rKPww8">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gDD0rKPww8 "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDD0rKPww8_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="gdnAepNjpi"
    role="presentation"
    class="gp-group/image gdnAepNjpi"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/ae2a4229-4be1-47a8-bc1f-044fd24e11af/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjE2IiBoZWlnaHQ9IjY3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMTYtNjciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIxNiIgaGVpZ2h0PSI2NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjE2IiBoZWlnaHQ9IjY3IiBmaWxsPSJ1cmwoI2ctMjE2LTY3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjE2IiB0bz0iMjE2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/ae2a4229-4be1-47a8-bc1f-044fd24e11af/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjE2IiBoZWlnaHQ9IjY3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMTYtNjciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIxNiIgaGVpZ2h0PSI2NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjE2IiBoZWlnaHQ9IjY3IiBmaWxsPSJ1cmwoI2ctMjE2LTY3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjE2IiB0bz0iMjE2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjE2IiBoZWlnaHQ9IjY3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMTYtNjciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIxNiIgaGVpZ2h0PSI2NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjE2IiBoZWlnaHQ9IjY3IiBmaWxsPSJ1cmwoI2ctMjE2LTY3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjE2IiB0bz0iMjE2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="https://ucarecdn.com/ae2a4229-4be1-47a8-bc1f-044fd24e11af/-/format/auto/"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:120px;--w-tablet:120px;--w-mobile:120px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g-N433GZ_G">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g-N433GZ_G "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg-N433GZ_G_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-561903815603782561 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ipwhmw-sc/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=561903803020870848&sectionId=561903815603782561)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg8XruY0AUZ_text","label":"gg8XruY0AUZ_text","default":"<p>Hi, nice to meet you</p>"},{"type":"html","id":"ggDD0rKPww8_text","label":"ggDD0rKPww8_text","default":"<p>Our coffee story is much wider, much higher, and much deeper than meets the eye. We began making coffee at Seven Wonders the first week of January 2003 on our first espresso machine. Less than 3 months later we had won the Irish Barista Championship (the main coffee-making competition in the world by country) and were off to Boston to represent Ireland in the World Barista Championship.</p>"},{"type":"html","id":"gg-N433GZ_G_text","label":"gg-N433GZ_G_text","default":"<p><span style=\"color:#242424;\"><strong>James Frank</strong></span> <span style=\"color:#B4B4B4;\">/ CEO</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
