
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609295800467456614.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609295800467456614.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609295800467456614.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609295800467456614.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609295800467456614.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609295800467456614.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609295800467456614.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609295800467456614.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609295800467456614.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609295800467456614.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609295800467456614.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609295800467456614.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609295800467456614.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609295800467456614.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609295800467456614.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609295800467456614.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609295800467456614.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609295800467456614.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609295800467456614.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609295800467456614.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609295800467456614.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609295800467456614.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609295800467456614.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609295800467456614.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609295800467456614.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609295800467456614.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609295800467456614.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609295800467456614.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609295800467456614.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609295800467456614.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609295800467456614.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-609295800467456614.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609295800467456614.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609295800467456614.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609295800467456614.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609295800467456614.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609295800467456614.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609295800467456614.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609295800467456614.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609295800467456614.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609295800467456614.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609295800467456614.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-609295800467456614.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609295800467456614.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-609295800467456614.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-609295800467456614.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-609295800467456614.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609295800467456614.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609295800467456614.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-609295800467456614.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609295800467456614.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609295800467456614.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609295800467456614.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609295800467456614.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-609295800467456614.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-609295800467456614.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-609295800467456614.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-609295800467456614.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609295800467456614.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609295800467456614.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609295800467456614.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-609295800467456614.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609295800467456614.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609295800467456614.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609295800467456614.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609295800467456614.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-609295800467456614.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-609295800467456614.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-609295800467456614.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-609295800467456614.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-609295800467456614 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-609295800467456614 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-609295800467456614 .gp-relative{position:relative}.gps-609295800467456614 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609295800467456614 .gp-mb-0{margin-bottom:0}.gps-609295800467456614 .gp-flex{display:flex}.gps-609295800467456614 .gp-inline-flex{display:inline-flex}.gps-609295800467456614 .gp-grid{display:grid}.gps-609295800467456614 .\!gp-hidden{display:none!important}.gps-609295800467456614 .gp-hidden{display:none}.gps-609295800467456614 .gp-max-w-full{max-width:100%}.gps-609295800467456614 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609295800467456614 .gp-flex-col{flex-direction:column}.gps-609295800467456614 .gp-items-center{align-items:center}.gps-609295800467456614 .gp-justify-center{justify-content:center}.gps-609295800467456614 .gp-overflow-hidden{overflow:hidden}.gps-609295800467456614 .gp-leading-\[0\]{line-height:0}.gps-609295800467456614 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-609295800467456614 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609295800467456614 .gp-duration-200{transition-duration:.2s}.gps-609295800467456614 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-609295800467456614 .tablet\:\!gp-hidden{display:none!important}.gps-609295800467456614 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-609295800467456614 .mobile\:\!gp-hidden{display:none!important}.gps-609295800467456614 .mobile\:gp-hidden{display:none}}.gps-609295800467456614 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-609295800467456614 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-609295800467456614 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-609295800467456614 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-609295800467456614 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FCFAF7","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g2cGD24wGD"}' data-id="g2cGD24wGD" id="g2cGD24wGD" data-same-height-subgrid-container class="g2cGD24wGD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:0px;--pt-tablet:var(--g-s-2xl);--pb-tablet:0px;--pt-mobile:var(--g-s-2xl);--pb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FCFAF7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-4GCTdgZL gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g9hOkLfo4t"}' data-id="g9hOkLfo4t" id="g9hOkLfo4t" data-same-height-subgrid-container class="g9hOkLfo4t gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 2fr) minmax(0, 8fr) minmax(0, 2fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--d-mobile:none"
      class="gSkPk0OZzf gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gNf1qOGzly gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gVoSOExaNQ"}' data-id="gVoSOExaNQ" id="gVoSOExaNQ" data-same-height-subgrid-container class="gVoSOExaNQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gfZy22dUwW gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g21APVVzpw"
        class="g21APVVzpw"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--size:33px;--size-tablet:46px;--size-mobile:33px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg21APVVzpw_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gpGEDPDKey gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gYwd1vs3DR"}' data-id="gYwd1vs3DR" id="gYwd1vs3DR" data-same-height-subgrid-container class="gYwd1vs3DR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g5durA1F1b gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"hover","triggerConfig":{"appear":{"animation":"shake","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"shake","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":"0.5","loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"Text","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:visible;--v-tablet:visible;--v-mobile:visible;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gD44V5LGFu"
        class="gD44V5LGFu"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggD44V5LGFu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="ga0z76hsk7 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"hover","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"zoom","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"Icon","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    <div id="g7R23xga9k" class="gp-leading-[0] g7R23xga9k" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="g7R23xga9k" class="icon-wrapper gp-inline-flex gp-overflow-hidden g7R23xga9k " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" data-name="star-filled" viewBox="0 0 256 256" fill="currentColor" data-id="508414815326568808">
          <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-609295800467456614 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ipwhmw-sc/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=608426311064486455&sectionId=609295800467456614)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg21APVVzpw_text","label":"gg21APVVzpw_text","default":"Your heading text goes here"},{"type":"html","id":"ggD44V5LGFu_text","label":"ggD44V5LGFu_text","default":"<p>Replace&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}