<div class="title-desc-btn">
  <div class="title-desc-btn__title">
    <h2>{{ section.settings.title }}</h2>
  </div>
  <div class="title-desc-btn__desc">
    <p>{{ section.settings.description }}</p>
  </div>
  <div class="title-desc-btn__btn">
    <a href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
  </div>
</div>

{% schema %}
{
  "name": "TitleDescriptionButton",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "TitleDescriptionButton"
    }
  ]
}
{% endschema %}
